<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}PSS Purchase Orders{% endblock %}</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  {% if not pdf %}
  <nav class="navbar">
    <div class="nav-container">
      <a href="{{ url_for('main.po_list') }}">PO List</a>
      <a href="{{ url_for('main.create_po') }}">Create PO</a>
    </div>
  </nav>
  {% endif %}
  <div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul>
        {% for category, message in messages %}
          <li class="flash {{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
  </div>

</body>
</html>